@import "./functions/responsive-font-size";
.client{
  &_slide{
    background: #FFFFFF;
    padding: 20px 15px 10px 15px;
    max-width: 362.18px;
    height: 249px;
    border: 3.39545px solid rgba(234, 218, 255, 0.67);
    border-radius: 31.6909px;
    &_descr{
      font-size: responsive-font-size(5px,17px);
      line-height: 22px;
      padding-bottom: 10px;
      color: #000000;
    }
    &_top{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &_rate{
      padding-top: 10px;
    }
    &_date{
      padding-bottom: 10px;
    }
    &_star{
      padding-bottom: 20px;
    }
    &_title{
      font-size: responsive-font-size(5px,19px);
      line-height: 22px;

      text-transform: uppercase;
      font-weight: 900;

      color: #000000;
    }
  }
}

.start_element{
  margin-right: 10px;
}
.client_container_slider{
  margin-bottom: 70px;
}