@import "./functions/responsive-font-size";
.client{
  &_slide{
    background: #FFFFFF;
    padding: 40px 30px 10px 20px;
    max-width: 362px;
    max-height: 249px;
    border: 3.39545px solid rgba(234, 218, 255, 0.67);
    border-radius: 31.6909px;
    &_descr{
      font-size: 18.1091px;
      line-height: 22px;
      padding-bottom: 30px;
      color: #000000;
    }
    &_top{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &_rate{
      padding-top: 10px;
    }
    &_date{
      padding-bottom: 10px;
    }
    &_star{
      padding-bottom: 20px;
    }
    &_title{
      font-size: 18.1091px;
      line-height: 22px;
      /* identical to box height */

      text-transform: uppercase;
      font-weight: 900;
      /* txt */

      color: #000000;
    }
  }
}

.start_element{
  margin-right: 10px;
}