@import "./functions/responsive-font-size";

.solution{
  &_h1{
    font-family: 'Gotham Pro', serif;
    font-weight: bold;
    font-size: responsive-font-size(10px,57px);
    line-height: 64px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  &_h3{
    padding-top: 46px;
    font-weight: 200;
    font-size: responsive-font-size(10px,20px);
    line-height: 24px;
    text-transform: uppercase;

    color: #FFFFFF;
  }
}
.client_h4{
  text-align: center;
  margin-top: 14px;
  margin-bottom: 26px;
  font-size: 20px;
}