@import "./reset";
@import "functions/responsive-font-size";
@import "functions/responsive-width";
@import "./global";
@import "SolutionsCompany";
@import "./button";
@import "./header";
@import "./h";
@import "./media";
@import "./burger";
@import "./Card";
@import "./slider";
@import "./trust";
@import "./client";
@import "./secondSection";
.container {
  max-width: 1470px;
  margin: 0 auto;
}
.hamburger{
  display: none;
}