@import "functions/responsive-width";
@import "functions/responsive-font-size";

.SecondPage_title {
  //position: relative;
  width: 764px;
  height: 43px;
  //left: 418px;
  //top: 964px;
  margin: 0 auto;
  font-family: 'TT Travels Trl';
  font-style: normal;
  font-weight: 900;
  font-size: responsive-font-size(10px, 30px);
  line-height: 43px;
  text-align: center;
  text-transform: uppercase;

  color: #000000;
}

.SecondPage_title_span {
  color: #4E10FF;
}

hr {
  width: 167px;
  height: 0px;

  border: 1px solid #000000;
  border-radius: 101px;
}
.image_star {
  width: 29.23px;
  height: 29.23px;

  background: no-repeat center/80% url("../images/Star7.png");
}

.stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.second_subtext {
  //@include responsive-width;
  position: absolute;
  left:50%;
  transform:translate(-50%, -50%);
  padding-top: 36px;
  font-family: Tahoma, sans-serif;
  font-weight: bold;
  line-height: 67px;
  text-transform: uppercase;
  -webkit-text-stroke: 0.2px #000000;
  color: #FFF;
  mix-blend-mode: multiply;
  font-size: responsive-font-size(20px, 64px);
}
.secondPage {
  background: rgb(140,172,255);
  background: linear-gradient(0deg, rgba(140,172,255,1) 0%, rgba(220,230,255,1) 28%, rgba(238,243,255,1) 48%, rgba(220,230,255,1) 68%, rgba(140,172,255,1) 100%);
  height: 100vh;
  padding-top: 100px;
}
.vector {
  width: 100%;
  height: 340px;
  background: no-repeat center/80% url("../images/Vector1.svg");
  display: inline-block;
  margin: 0 auto;
  //z-index: 1;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.box_img1 {
  position: absolute;
  top: 50%;
  left:50%;
  transform:translate(-50%, -50%);
  width: 5%;
  height: 25%;
  background: no-repeat center/80% url("../images/circle (3).png");
}
.box_img2 {
  position: absolute;
  top: 50%;
  left:50%;
  transform:translate(-50%, -50%);
  width: 5%;
  height: 25%;
  background: no-repeat center/80% url("../images/circle (2).png");
}

.box_img3{
  position: absolute;
  top: 50%;
  left:50%;
  transform:translate(-50%, -50%);
  width: 5%;
  height: 25%;
  background: no-repeat center/80% url("../images/circle (1).png");
}

.box_img4 {
  position: absolute;
  top: 50%;
  left:50%;
  transform:translate(-50%, -50%);
  width: 5%;
  height: 25%;
  background: no-repeat center/80% url("../images/circle.png");
}

.wave_black {
  width: 100%;
  height: 100%;
  background: no-repeat center/80% url("../images/Vector6.svg");

}
